.page-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding-top: var(--navbar-height);
}

#home {
  background-color: #f5f5f5;
}

#about {
  background-color: #e6e6fa;
}

#skills {
  background-color: #fff0f5;
}

#portfolio {
  background-color: #f0fff0;
}

#contact {
  background-color: #f0f8ff;
}



.page-section {
  min-height: 100vh;
  height: 100dvh; /* Mobil uyumlu dinamik yükseklik */
}










